node_modules/**
output/**
examples/node_modules/**
examples/example-generated-sdk-ts/**
examples/example-generated-sdk-js/**
**/*.save
**/*.swp
**/*.tgz
dist/*.gz
.idea
.vscode
**/.DS_Store

.iterm2-project
